#game {
   width:100vw;
   height:100vh;
   display:none;
   opacity:0;
   transition: opacity 800ms;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

#timer {
   font-size: 2rem;
   position: absolute;
   top:0.5vh;
   left:0.5vw;
}

#gameHelp {
   position: absolute;
   top:1.4vh;
   right:1.4vw;
}

#gameWrapper {
   width:1400px;
   height:100vh;
   display: grid;
   grid-template-columns: 650px 650px;
   column-gap: 100px;
   margin-left:260px;
   margin-right:260px;
}

#helicase {
   margin-left:260px;
   margin-right:260px;
   width:1400px;
}

/* DNA Strands */
.strand {
   display:flex;
   flex-direction: column;
}
.row {
   display: grid;
   grid-template-columns: 305px 40px 305px;
}
.row:not(:first-child) {margin-top: -145px;}

.nucleotide {
   display: grid;
   grid-template-columns: 150px 150px;
   column-gap: 5px;
}

.backbone {width:150px}
.row .backbone:nth-child(2) {margin-top:105px;}

.base {
   margin-top:93px;
   width:150px;
   height:40px;
}
.base:is(.lagging) {transform: rotate(180deg)}

.bond {width: 40px;}
.bond[src='./images/two-bond.svg'] {margin-top: 107px;}
.bond[src='./images/three-bond.svg'] {margin-top: 101px;}

